@font-face {
    font-family: 'Vazirmatn';
    src: url('/public/fonts/Vazirmatn.ttf') format("truetype");
}

@font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy ExtraBold.ttf') format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/public/fonts/Gilroy Heavy.ttf') format("truetype");
    font-weight: 900;
}

:root > * {
    font-family: "Gilroy", system-ui, sans-serif !important;
}


:root {
    --sidebar-width-expanded: 15.5rem;
    --sidebar-width-collapse: 4rem;
    --header-height: 4rem;
    --announcement-height: 2rem;

    --light-bg-color: white;
    --dark-bg-color: theme('colors.flax.950');

    --light-text-color: black;
    --light-text-accent-color: theme('colors.flax.800');
    --light-text-secondary-color: theme('colors.mulled.800');

    --dark-text-color: white;
    --dark-text-accent-color: theme('colors.flax.200');
    --dark-text-secondary-color: theme('colors.mulled.200');

    --neutral-accent-color: theme('colors.flax.500');
    --neutral-secondary-color: theme('colors.mulled.500');

    --light-text-accent-color-hover: theme('colors.flax.200');
    --light-text-secondary-color-hover: theme('colors.mulled.700');

    --light-text-accent-color-hover-light: theme('colors.flax.300');
    --light-text-secondary-color-hover-light: theme('colors.mulled.600');

    --dark-text-accent-color-hover: theme('colors.flax.700');
    --dark-text-secondary-color-hover: theme('colors.mulled.200');

    --dark-text-accent-color-hover-light: theme('colors.flax.600');
    --dark-text-secondary-color-hover-light: theme('colors.mulled.300');

    --dark-accent-color-dark: theme('colors.flax.900');
    --dark-secondary-color-dark: theme('colors.mulled.900');

    --error-color-text: theme('colors.red.500');
    --warning-color-text: theme('colors.orange.500');
    --save-color-text: theme('colors.green.500');
}

*::selection {
    background: #cc0000;
    color: #ffffff;
}

*::-moz-selection {
    background: #cc0000;
    color: #ffffff;
}

*::-webkit-selection {
    background: #cc0000;
    color: #ffffff;
}

.skeleton {
    --rounded-box: theme('borderRadius.lg');
}

.dark .skeleton {
    --fallback-b3: #4e4e4e;
    --fallback-b1: #5a5a5a;
}

.light .skeleton {
    --fallback-b3: #ECECEC;
    --fallback-b1: #white;
}

html.dark {
    background-color: var(--dark-bg-color);
}

html.light {
    background-color: var(--light-bg-color);
}


.dark p {
    color: var(--dark-text-color);
}

.light p {
    color: var(--light-text-color);
}

.page {
    transition: 0.2s ease-in-out;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
}

.error-message {
    text-align: center;
    padding: 1em;
    color: var(--error-color-text);
    font-weight: bold;
    font-size: theme('fontSize.xl');
}
