@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn.ttf') format("truetype");
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.ttf') format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Heavy.ttf') format("truetype");
    font-weight: 900;
}

:root > * {
    font-family: "Gilroy", 'Lexend', system-ui, sans-serif !important;
}


:root {
    --sidebar-width-expanded: 15.5rem;
    --sidebar-width-collapse: 4rem;
    --header-height: 4rem;
    --announcement-height: 2rem;

    --light-bg-color: white;
    --dark-bg-color: #1b1d16;

    --dark-text-color: white;
    --light-text-color: black;

    --color-accent-50: theme('colors.silver.50');
    --color-accent-100: theme('colors.silver.100');
    --color-accent-200: theme('colors.silver.200');
    --color-accent-300: theme('colors.silver.300');
    --color-accent-400: theme('colors.silver.400');
    --color-accent-500: theme('colors.silver.500');
    --color-accent-600: theme('colors.silver.600');
    --color-accent-700: theme('colors.silver.700');
    --color-accent-800: theme('colors.silver.800');
    --color-accent-900: theme('colors.silver.900');
    --color-accent-950: theme('colors.silver.950');

    --color-secondary-50: theme('colors.mulled.50');
    --color-secondary-100: theme('colors.mulled.100');
    --color-secondary-200: theme('colors.mulled.200');
    --color-secondary-300: theme('colors.mulled.300');
    --color-secondary-400: theme('colors.mulled.400');
    --color-secondary-500: theme('colors.mulled.500');
    --color-secondary-600: theme('colors.mulled.600');
    --color-secondary-700: theme('colors.mulled.700');
    --color-secondary-800: theme('colors.mulled.800');
    --color-secondary-900: theme('colors.mulled.900');
    --color-secondary-950: theme('colors.mulled.950');


    --error-color-text: theme('colors.red.500');
    --warning-color-text: theme('colors.orange.500');
    --save-color-text: theme('colors.green.500');
}

::selection {
    background-color: theme('colors.blue.300') !important;
}

::-moz-selection {
    background-color: theme('colors.blue.300') !important;
}

::-webkit-selection {
    background-color: theme('colors.blue.300') !important;
}

.skeleton-loader {
    animation: skeleton-loading 1.5s infinite;
    background: linear-gradient(
            135deg,
            rgba(150, 150, 150, 0.2),
            rgba(150, 150, 150, 0.3),
            rgba(150, 150, 150, 0.2)
    );
    background-size: 200% 100%;
    color: transparent !important;
    border-radius: theme('borderRadius.md');
}

@keyframes skeleton-loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

html.dark {
    background-color: var(--dark-bg-color);
}

html.light {
    background-color: var(--light-bg-color);
}

@media (prefers-color-scheme: dark) {
    html.dark {
        background-color: var(--dark-bg-color);
    }
}

@media (prefers-color-scheme: light) {
    html.light {
        background-color: var(--light-bg-color);
    }
}


.dark p {
    color: var(--dark-text-color);
}

.light p {
    color: var(--light-text-color);
}

.page {
    transition: 0.2s ease-in-out;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-size: 100%;
}

.error-message {
    text-align: center;
    padding: 1em;
    color: var(--error-color-text);
    font-weight: bold;
    font-size: theme('fontSize.xl');
}


.slide-down-enter-active,
.slide-down-leave-active {
    transition: max-height 0.3s ease, opacity 0.5s ease;
    overflow: hidden;
}

.slide-down-enter-from,
.slide-down-leave-to {
    max-height: 0;
    opacity: 0;
}

.slide-down-enter-to,
.slide-down-leave-from {
    max-height: 200px; /* Adjust based on your content height */
    opacity: 1;
}

